/* SITE WIDE STYLES */

* {
    background-color: white;
    margin: 0;
    padding: 0;
}

p,
a,
h1 {
    color: #414A4C;
    font-family: "Inconsolata", monospace;
    text-decoration: none;
}

.button {
  padding: 10px;
  border-radius: 10%;
}

.button:hover,
.button:hover * {
  background-color: #F5F5F5;
}

a.button-text,
a {
    border-bottom: 1px #757575 dashed;
}


/* HOMEPAGE */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.section { 
    width: 400px;
    margin: 10px;
}

#tijuana {
    width: 100%;
    height: auto;
}

#text {
    display: flex;
    flex-direction: column;
    text-align: right;
}

@media only screen and (max-width: 900px) {
  main {
    flex-direction: column-reverse;
  }
  
  #text {
    text-align: center;
  }
}

#home-links {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

/* WRITING & CONTACT PAGES */

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

body-standardized {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto 100px auto;
}

@media only screen and (max-width: 500px) {
  body-standardized {
    width: 100%;
  }
}

/* Writing page */
  
  .article {
    border-bottom: 0.5px solid lightgrey;
    display: grid;
    grid-template-rows: minmax(7px, 1fr);
    padding: 20px 40px;
    row-gap: 10px;
    transition: 200ms background-color ease-in-out;
    text-align: justify;
    text-decoration: none;
  }
  
  .article:hover {
    background-color: #F5F5F5;
  }

  .article * {
      transition: 200ms background-color ease-in-out;
  }

  .article:hover *   {
    background-color: #F5F5F5;
    color: #424242;
  }
  
  .publication {
    display: flex;
    justify-content: space-between;
    color: #757575;
  }

/* Contact page */

#main-content-contact {
  display: flex;
  flex-direction: column;
}

.contact-method,
#protonmail-note {
  display: flex;
  padding: 20px 40px;
  text-align: center;
}

#twitter-icon {
  padding: 0 10px;
}